Node-Red-Example-Flow.txt
[{"id":"37d7f76b.8d69f8","type":"tab","label":"Prusa","disabled":false,"info":""},{"id":"ce904bf6.d38e78","type":"mqtt in","z":"37d7f76b.8d69f8","name":"Octoprint Print Done","topic":"octoPrint/event/PrintDone/#","qos":"0","datatype":"utf8","broker":"3ca313b8.542abc","x":350,"y":180,"wires":[["179c7e9a.b21511"]]},{"id":"32f3f58d.044a4a","type":"debug","z":"37d7f76b.8d69f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":120,"wires":[]},{"id":"63dd5bc4.c0e4e4","type":"mqtt out","z":"37d7f76b.8d69f8","name":"Prusa Switch","topic":"octoprint/shutdown","qos":"0","retain":"false","broker":"3ca313b8.542abc","x":1150,"y":238,"wires":[]},{"id":"179c7e9a.b21511","type":"function","z":"37d7f76b.8d69f8","name":"OFF","func":"msg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":180,"wires":[["32f3f58d.044a4a","d023a363.af34f"]]},{"id":"edc56e9f.7c54e","type":"inject","z":"37d7f76b.8d69f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":330,"y":440,"wires":[["58e9dfb3.67c4c"]]},{"id":"58e9dfb3.67c4c","type":"mqtt out","z":"37d7f76b.8d69f8","name":"","topic":"prusa/switch/mains/command","qos":"0","retain":"false","broker":"3ca313b8.542abc","x":710,"y":440,"wires":[]},{"id":"d023a363.af34f","type":"function","z":"37d7f76b.8d69f8","name":"Printing Finished","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: \"Printing Finished\"\n};\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":180,"wires":[["4f9c00fa.1afe7"]]},{"id":"e25b5160.5c861","type":"timeout","z":"37d7f76b.8d69f8","name":"My Timeout","outtopic":"Off","outsafe":"","outwarning":"","outunsafe":"Nexz z level","warning":"10","timer":"600","repeat":false,"again":true,"x":830,"y":240,"wires":[["d7cd07af.9d31c8"]]},{"id":"51802b11.d3bb54","type":"debug","z":"37d7f76b.8d69f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":300,"wires":[]},{"id":"becb66e0.56c8c8","type":"function","z":"37d7f76b.8d69f8","name":"OFF","func":"msg.payload=\"OFF\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":240,"wires":[["51802b11.d3bb54","e25b5160.5c861"]]},{"id":"d417e411.4b1e38","type":"mqtt in","z":"37d7f76b.8d69f8","name":"Print Progress","topic":"octoPrint/progress/printing/#","qos":"0","datatype":"utf8","broker":"3ca313b8.542abc","x":330,"y":240,"wires":[["becb66e0.56c8c8"]]},{"id":"d7cd07af.9d31c8","type":"debug","z":"37d7f76b.8d69f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":300,"wires":[]},{"id":"d6666d50.e1a2c","type":"inject","z":"37d7f76b.8d69f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":330,"y":600,"wires":[["3e8e02a8.2fed9e"]]},{"id":"3e8e02a8.2fed9e","type":"mqtt out","z":"37d7f76b.8d69f8","name":"","topic":"octoprint/shutdown","qos":"0","retain":"false","broker":"3ca313b8.542abc","x":670,"y":598,"wires":[]},{"id":"70ca460f.6cb348","type":"inject","z":"37d7f76b.8d69f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":330,"y":500,"wires":[["58e9dfb3.67c4c"]]},{"id":"4f9c00fa.1afe7","type":"telegram sender","z":"37d7f76b.8d69f8","name":"AwningBot","bot":"f181a11d.afdf1","x":1150,"y":180,"wires":[[]]},{"id":"3ca313b8.542abc","type":"mqtt-broker","z":"","name":"Hub","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f181a11d.afdf1","type":"telegram bot","z":"","botname":"sensorsIOT_AwningBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]